/* Hide scrollbars for webkit browsers */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbars for Firefox */
.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
